In [ ]:
import pandas as pd
import json

## Deliverable 1: Extract
----
### Option 1: Use Python Dictionary Methods

1. Import the `backer_info.csv` file into a DataFrame.
2. Iterate through the DataFrame and convert each row to a dictionary. 
3. Iterate through each dictionary and do the following:
    * Extract the dictionary values from the keys using Python list comprehension.
    * Add the values for each row to a new list. 
4. Create a new DataFrame with the retrieved data. 
5. Export the DataFrame as `backers_data.csv`.

In [ ]:
# Import the backer_info.csv file into a DataFrame.
backer_info_to_load = "Resources/backer_info.csv"

backer_info_df = pd.read_csv(backer_info_to_load)
backer_info_df.head()

In [ ]:
# Get the backers_info from the crowdfunding_info sheet. 
pd.set_option('max_colwidth', 400)

In [ ]:
# Iterate through the backers DataFrame and convert each row to a dictionary.
dict_values = []
for i, row in backer_info_df.iterrows():
    data = row['backer_info']
    converted_data = json.loads(data)
    # Iterate through each dictionary (row) and get the values for each row using list comprehension.
    row_values = [v for k, v in converted_data.items()]
    # Append the list of values for each row to a list. 
    dict_values.append(row_values)

# Print out the list of values for each row.
print(dict_values)

In [ ]:
# Create a backers_df DataFrame with the following columns: 'backer_id','cf_id', 'name', and 'email' 
# using the list of values lists. 
backers_df = pd.DataFrame(dict_values, columns=['backer_id','cf_id', 'name', 'email'])
backers_df.head()

In [ ]:
# Export the DataFrame as a CSV file using encoding='utf8'.
backers_df.to_csv('Resources/backers_data.csv',encoding='utf-8-sig')

## Deliverable 2: Transform and Clean Data
----
1. Check the data types of the columns and convert the "cf_id" column to an integer, if necessary.
2. Split the name in the "name" column into first and last names, and add them to "first_name" and "last_name" columns in the DataFrame. 
3. Drop the "name" column in the DataFrame.
4. Place the columns in the following order; "backer_id", "cf_id", "first_name", "last_name" and "email".

In [8]:
import pandas as pd
import json

In [9]:
# Check data types.
backer_info_to_load = "Resources/backers_data.csv"

backers_df = pd.read_csv(backer_info_to_load)
backers_df.dtypes

Unnamed: 0     int64
backer_id     object
cf_id          int64
name          object
email         object
dtype: object

In [10]:
# Split the "name" column into "first_name" and "last_name" columns.
backers_df[["first_name","last_name"]] = backers_df["name"].str.split(' ', n=1, expand=True)
backers_df.head()

,Unnamed: 0,backer_id,cf_id,name,email,first_name,last_name
0,0,av166,968,Angelo Vincent,avincent@live.com,Angelo,Vincent
1,1,ha127,563,Hubert Arnold,harnold@yandex.com,Hubert,Arnold
2,2,lg794,65,Loris Goulet,lgoulet@yandex.com,Loris,Goulet
3,3,tb566,563,Teodora Brunelli,tbrunelli@outlook.com,Teodora,Brunelli
4,4,lh506,563,Lexie Hunt,lhunt@live.com,Lexie,Hunt

In [11]:
#  Drop the name column
backers_df = backers_df.drop(['name'], axis=1)

# Reorder the columns
backers_df = backers_df[['backer_id','cf_id', 'first_name', 'last_name', 'email']]
backers_df.head()

  backer_id  cf_id first_name last_name                  email
0     av166    968     Angelo   Vincent      avincent@live.com
1     ha127    563     Hubert    Arnold     harnold@yandex.com
2     lg794     65      Loris    Goulet     lgoulet@yandex.com
3     tb566    563    Teodora  Brunelli  tbrunelli@outlook.com
4     lh506    563      Lexie      Hunt         lhunt@live.com

In [12]:
# Export the DataFrame as a CSV file using encoding='utf8'.
backers_df.to_csv('Resources/backers.csv',encoding='utf-8-sig')